@import url('https://www.dafontfree.net/embed/cG9ldHNlbi1vbmUtcmVndWxhciZkYXRhLzgvcC80NTU0Ny9Qb2V0c2VuT25lLVJlZ3VsYXIudHRm');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

*{
    margin: 0;
}

:root{
--success-color:#41CA3D;
--wrong-position-color:#F1BD40;
--wrong-color:#727271;
--text-color:#A984FA;
--verified-text-color:#FFFFFF;
--cta-color:#9769F9;
}

.theme{
    background-color: var(--main-backgrd-color);
    font-family: 'Nunito';
    min-height: 100vh;
}

.dark-theme{
    --main-backgrd-color:#221F20;
    --blocked-grid-color:#E9E9E9;
    --nav-line:white;
    background-color: var(--main-backgrd-color);
}

.light-theme{
    --main-backgrd-color:white;
    --blocked-grid-color:#E9E9E9;
    --nav-line:#221F20;
    background-color: var(--main-backgrd-color);
}

.navbar{
    display: flex;
    margin-inline: 4rem;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid var(--nav-line);
}

.wordleLogo{
    width: 10.5rem;
}

.toast{
    position: absolute;
    color: white;
    background-color: #A984FA;
    z-index: 999;
    transform: translate(50vw,20vh);
    width: 10rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    animation-name: toasty;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes toasty{
    from{
        display: block;
    }
    to{
        /* display: none; */
        background-color: #41CA3D;

    }
}
.alert{
    background-color: red;
}